# Environments
.env
.venv
env/
venv/

# Claude.ai memory file
CLAUDE.md

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Python
__pycache__/

teacher/*

# løsninger på øvelser
materialer/introduktion/solutions

# Ignore all future fiolders
materialer/boolean/
materialer/context_managers/
materialer/datamodel/
materialer/datastrukturer1/
materialer/datastrukturer2/
materialer/decorators/
#materialer/formalia/
materialer/generators/
materialer/logik/
#materialer/moduler/
materialer/obligatoriske/
materialer/oop/
materialer/eksamensprojekt/
materialer/mistral-vibe/
